<div  class="safe-width p-3">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th><th>Sujet</th><th>Date de creation</th><th>STATUS</th><th>Lance par</th><th>Priorite</th><th>choisir un technicien</th><th></th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let ticket of allTickets  ">
                
                 
                
                <td>{{ticket.id}}</td>
                <td>{{ticket.sujet}}</td>
                <td>{{ticket.createdAt|date:' M/d/yy h:mm a'}}</td>
                
                <td *ngIf="ticket.status=='en cours'" class="bg-primary text-white">{{ticket.status}}</td>
                <td *ngIf="ticket.status=='non traite'" class="bg-secondary text-white">{{ticket.status}}</td>
                <td *ngIf="ticket.status=='resolue'" class="bg-success text-white">{{ticket.status}}</td>
                <td *ngIf="ticket.status=='non resolue'" class="bg-danger text-white">{{ticket.status}}</td>

                <td>{{ticket.client.username}}</td>
                <td *ngIf="ticket.priorite==1" class="bg-danger text-white">
                    HIGH
                </td>
                <td *ngIf="ticket.priorite==2" class="bg-warning text-white">
                    MEDIUM
                </td>
                <td *ngIf="ticket.priorite==3" class="bg-success text-white">
                    LOW
                </td>
                <td>
                    <select [disabled]="ticket.status!='non traite'"  [id]="ticket.id"  name="technicien" [(ngModel)]="seletedTechnicien[ticket.id]">
                        <option value="" selected disabled hidden>Choose here</option>
                        <option *ngFor="let technicien of techniciens" [value]="technicien.id">{{technicien.username}}</option>
                         
                      </select>
                       
                </td>
                <td>
                     
                </td>
               
                
                <td>
                    <button  [disabled]="ticket.status!='non traite' ||seletedTechnicien[ticket.id]=='' " class="btn btn-secondary text-white" type="submit" (click)="creerTraitement(ticket.id)" >
                    Assigner a un technicien
                    </button>
                </td>
                <td>
                    <button  class="btn btn-primary ">
                    details sur le ticket
                    </button>
                </td>
                <td>
                    <button  class="btn btn-primary ">
                    details sur le client
                    </button>
                </td>
                <td>
                    <button [disabled]="!ticket.hasFile"  class="btn btn-primary " (click)="downloadfile(ticket.id)">
                    download documents
                    </button>
                </td>
                <td>
                    <button  class="btn btn-danger" [disabled]="ticket.status=='en cours'">
                    <i class="bi bi-trash"></i>
                    </button>
                </td>
             

             

            </tr>
        </tbody>
 