<div  class="safe-width text-center ">
    <table class="table text-dark bg-light">
        <thead class="bg-dark text-light ">
            <tr>
                <th ><i class="bi bi-stickies-fill"></i></th><th><i class="bi bi-bell-fill"></i></th><th><i class="bi bi-calendar-event"></i></th><th><i class="bi bi-lightbulb-fill"></i></th><th><i class="bi bi-person"></i>  </th><th><i class="bi bi-exclamation-octagon"></i> </th> <th> </th>   <th><i class="bi bi-file-earmark-text"></i> </th>   <th> </th> <th><i class="bi bi-gear-fill"></i> </th> <th> </th> 
            </tr>
        </thead>
        <tbody class="table-content-styling"> 
            <tr *ngFor="let ticket of allTickets  ">
                
                 
                
                <td>{{ticket.id}}</td>
                <td>{{ticket.sujet}}</td>
                <td>{{ticket.createdAt|date:' M/d/yy h:mm a'}}</td>
                
                <td *ngIf="ticket.status=='en cours'"  > <span class="badge   bg-primary">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='non traite'"  ><span class="badge   bg-secondary">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='resolue'" ><span class="badge   bg-success">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='non resolue'" ><span class="badge   bg-danger">{{ticket.status}}</span></td>

                <td>{{ticket.client.username}}</td>
                <td *ngIf="ticket.priorite==1"  >
                    <span class="badge bg-danger">
                    HIGH    
                    </span>
                    
                </td>
                <td *ngIf="ticket.priorite==2"  >
                    <span class="badge bg-warning">
                        MEDIUM    
                        </span>
                </td>
                <td *ngIf="ticket.priorite==3"  >
                    <span class="badge bg-secondary">
                        LOW    
                        </span>
                </td>
               
                <td>
                    <button  class="btn btn-primary ">
                        <i class="bi bi-info-square"></i>
                    </button>
                </td>
                 
                <td>
                    <button [disabled]="!ticket.hasFile"  class="btn btn-success " (click)="downloadfile(ticket.id)">
                        <i class="bi bi-arrow-down-circle"></i>
                    </button>
                </td>
                <td>
                    <button  class="btn btn-danger" [disabled]="ticket.status=='en cours'">
                    <i class="bi bi-trash"></i>
                    </button>
                </td>
                <td class="bg-dark">
                    <select [disabled]="ticket.status!='non traite'"  [id]="ticket.id"  name="technicien" [(ngModel)]="seletedTechnicien[ticket.id]">
                        <option value="" selected disabled hidden>choisit un technicien</option>
                        <option *ngFor="let technicien of techniciens" [value]="technicien.id">{{technicien.username}}</option>
                         
                      </select>
                       
                </td>
                 
               
                
                <td class="bg-dark">
                    <button  [disabled]="ticket.status!='non traite' ||seletedTechnicien[ticket.id]=='' " class="text-white" [ngClass]="ticket.status!='non traite' ||seletedTechnicien[ticket.id]==''?'btn btn-outline-primary ':'btn bg-success'" type="submit" (click)="creerTraitement(ticket.id)" >
                        <i class="bi bi-send"  *ngIf="!(ticket.status!='non traite' &&seletedTechnicien[ticket.id]=='')" ></i>
                        <i class="bi bi-send-check text-light" *ngIf="ticket.status!='non traite' &&seletedTechnicien[ticket.id]==''" ></i>
                    </button>
                </td>
             

             

            </tr>
        </tbody>
 