<div class="safe-width ">
    <table class="table  bg-light text-center">
        <thead class="bg-dark text-light">
            <tr>
                <th>ID</th><th><i class="bi bi-person-fill"></i><i class="bi bi-gear-wide"></i></th> <th><i class="bi bi-lightbulb-fill"></i></th><th>Date de creation</th> <th></th><th></th> 
            </tr>
        </thead>
        <tbody class="text-dark"> 
            <tr *ngFor="let traitement of allTraitements  ">
                
                <td>#{{traitement.id}}</td>
                <td>{{traitement.technicien.username}}</td>
                   

                <td *ngIf="traitement.status=='en cours'"  > <span class="badge   bg-primary">{{traitement.status}}</span></td>
                 
                <td *ngIf="traitement.status=='resolue'" ><span class="badge   bg-success">{{traitement.status}}</span></td>
                <td *ngIf="traitement.status=='non resolue'" ><span class="badge   bg-danger">{{traitement.status}}</span></td>
                
                
                
                <td>{{traitement.createdAt|date:' M/d/yy h:mm a'}}</td>
                 
                 
                 
               
                
                 
                 
                <td>
                    <button  class="btn btn-primary ">
                    <i class="bi bi-stickies-fill"> </i>  #{{traitement.ticketId}}
                    </button>
                </td>
                <td>
                    <button  class="btn btn-danger"  >
                    <i class="bi bi-trash"></i>
                    </button>
                </td>

             

            </tr>
        </tbody>
        </table>
    </div>
 