<div  class="safe-width text-dark bg-light text-center">
    
    <form [formGroup]="createUserForm" (ngSubmit)="onsubmit()"><div class="d-flex justify-content-center  bg-dark p-3"><input placeholder="username" formControlName="username" class="mx-2" required/> <input placeholder="password" formControlName="password" class="mx-2" required/><button class="btn btn-success"><i class="bi bi-person-plus-fill"></i></button></div>
</form>
     
    
    <table class="table">
        
        <thead>
            
            <tr>
                <th>ID</th><th><i class="bi bi-person-fill"></i></th><th><i class="bi bi-calendar"></i></th><th> </th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let client of allTechniciens  ">
                
                 
                <td  >{{client.id}}   </td>
                 
                <td>{{client.username}}<span *ngIf="client.id==adminId"> (vous)</span></td>
                <td>{{client.createdAt|date:' M/d/yy h:mm a'}}</td> 
                <td>
                    <button  class="btn btn-danger " [disabled]="client.id==adminId" (click)="deleteUser(client.id,'TECHNICIEN')">
                        <i class="bi bi-person-x-fill"></i>
                    </button>
                
                </td>
       
             

            </tr>
        </tbody>
 