 
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

    <div class="wrapper" *ngIf="!((currentUrl=='/login')||(currentUrl=='/admin/login')||(currentUrl=='/technicien/login'))">
        <div class="sidebar"  [ngClass]="{'client-side-bar':userRole=='CLIENT', 'tehnicien-side-bar': userRole=='TECHNICIEN', 'admin-side-bar':userRole=='ADMIN'}"  >
            <h2>{{userName}}</h2>
            <ul *ngIf="userRole=='ADMIN'">
                <a href="#"routerLink="admin/tickets"><li><i class="fas fa-home" ></i>Tickets</li></a>
                <a href="#"routerLink="admin/traitements"><li><i class="fas fa-home" ></i>Traitements</li></a>
                <a href="#"routerLink="admin/admins"><li><i class="fas fa-home" ></i>Admins</li></a>
                <a href="#"routerLink="admin/techniciens"><li><i class="fas fa-home" ></i>Techniciens</li></a>
                <a href="#"routerLink="admin/clients"><li><i class="fas fa-home" ></i>Clients</li></a>
                
                 
                 
            </ul>
            <ul *ngIf="userRole=='CLIENT'">
                <li><a href="#" routerLink="client/tickets"><i class="fas fa-home" ></i>Mes tickets</a></li>
                <li><a href="#" routerLink="client/ticket/creer"><i class="fas fa-user" ></i>Lancer un ticket</a></li>
                 
            </ul>  
            <ul *ngIf="userRole=='TECHNICIEN'">
                <a href="#"routerLink="technicien/traitements"><li><i class="fas fa-home" ></i>Mes traitements</li></a>
                 
                
                 
                 
            </ul>
            
            <div class="bottom" (click)="logout()">
             <div class="btn btn-danger my-3 p-2">LOGOUT</div>
            </div>
             
        </div>
 