
<div class="safe-width ">
    <table class="table  text-dark bg-light text-center">
        <thead >
            <tr class="bg-primary text-light" >
                <th ><i class="bi bi-stickies-fill"></i></th><th><i class="bi bi-bell-fill"></i></th><th><i class="bi bi-calendar-event"></i></th><th><i class="bi bi-lightbulb-fill"></i></th><th>  </th><th> </th> 
            </tr>
        </thead>
        <div class="text-danger d-flex justify-content-center" *ngIf="!mesTicket">No ticket</div>
        <tbody class="table-content-styling" *ngIf="mesTicket"> 
            <tr *ngFor="let ticket of mesTicket  ">
                
                 
                
                <td>#{{ticket.id}}</td>
                <td>{{ticket.sujet}}</td>
                <td>{{ticket.createdAt|date:' M/d/yy h:mm a'}}</td>
                
                <td *ngIf="ticket.status=='en cours'"  > <span class="badge   bg-primary">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='non traite'"  ><span class="badge   bg-secondary">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='resolue'" ><span class="badge   bg-success">{{ticket.status}}</span></td>
                <td *ngIf="ticket.status=='non resolue'" ><span class="badge   bg-danger">{{ticket.status}}</span></td>

                 
                 
                 
               
                
               
                <td>
                    <button  class="badge bg-primary ">
                        <i class="bi bi-info-circle"></i>
                    </button>
                </td>
                 
                <td>
                    <button  class="badge bg-danger" [disabled]="ticket.status=='en cours'">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </td>
             

             

            </tr>
        </tbody>
 