#admin-login-bg{
    background-color: #8a2be2;
}
#client-login-container{
    
    background:linear-gradient(0deg,#892be2b5 , #892be2b5), url("../../../assets/img/2.jpg");
     
      /* bottom, image */
      background-size:100% ;  
      background-size:cover ;  
       
}
.form-logo{
    width: 50%;
}