/* You can add global styles to this file, and also import other style files */

@import "~bootstrap-icons/font/bootstrap-icons.css";
.safe-width{
    margin-left: 200px;
    
}
.tehnicien-side-bar{
    
    background: #009225;
     
  }
.mainapp{
    background-color: rgb(68, 68, 68);
}
.table-content-styling{
      
     font-family:   Geneva, Tahoma, sans-serif;
     
}